In [1]:
import pandas as pd
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [4]:
df = pd.read_csv('USA_Housing.csv')

In [5]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [6]:
#função de correlação
df.corr()

C:\Users\camil\AppData\Local\Temp\ipykernel_10732\2433465183.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Avg. Area Income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
Avg. Area House Age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
Avg. Area Number of Rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
Avg. Area Number of Bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
Area Population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
Price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

In [8]:
#caracteristicas
x = df[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']]
#alvo
y = df['Price']

In [18]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y)

In [10]:
x_treino

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
234,69607.133665,7.077681,7.833081,34609.040215
4294,56290.321291,5.765600,7.112024,27648.723395
807,53712.140813,4.229270,6.875063,31913.696530
3648,81443.139599,6.200635,6.778065,35592.872099
1463,61370.323490,6.529605,6.606744,20600.511000
...,...,...,...,...
3445,69340.560372,5.046606,6.737527,30726.379448
2609,68811.671696,6.467667,6.497299,33910.831496
4453,81462.862863,6.114044,7.065028,31484.955108
4140,60798.203100,5.014685,7.141282,43682.094231
3874,91937.807888,5.153942,6.905806,19332.419776

In [11]:
modelo = LinearRegression()

In [12]:
modelo.fit(x_treino, y_treino)

LinearRegression()

In [13]:
y_previsto = modelo.predict(x_teste)

In [14]:
y_previsto

array([1361282.21602601, 1410339.19810062,  884957.70521852, ...,
        827080.81556911, 1455052.44442005,  998995.52520233])

In [16]:
df['Price'].mean()

1232072.654142357

In [19]:
#vendo o quanto de erro
mean_absolute_error(y_previsto, y_teste)

391471.2615619147