In [1]:
import pandas as pd

In [2]:
# dicionario com autores, titulos e preços
dicti = {"Autores": ["Bell Hooks", "Carla Madeira", "George R.R. Martin"],
        "Obras": ["Tudo Sobre Amor", "Tudo É Rio", "Guerra dos Tronos"],
        "Preços": [59.90, 49.90, 69.90]}

In [3]:
# declaração e exibição da df
df = pd.DataFrame(dicti)
df

              Autores              Obras  Preços
0          Bell Hooks    Tudo Sobre Amor    59.9
1       Carla Madeira         Tudo É Rio    49.9
2  George R.R. Martin  Guerra dos Tronos    69.9

In [4]:
#pegando elementos do df
#e pegando dessa maneira, uma coluna é como uma serie
df['Autores'][1]

'Carla Madeira'

In [5]:
#tratando a coluna preços como series e fazer a media
df['Preços'].mean()

59.9

In [6]:
#da tambem pra fazer uma filtragem como a mascara boolean
#no video precisa transformar em var antes
#nesse caso foi só montar o filtro e foi direto
df['Autores'] == 'Bell Hooks'

0     True
1    False
2    False
Name: Autores, dtype: bool

In [7]:
#transformando em uma var da p gerar uma df
mask = df['Autores'] == 'Carla Madeira'

In [15]:
#gerando a df
df[mask]

         Autores       Obras  Preços
1  Carla Madeira  Tudo É Rio    49.9

In [24]:
#adicionando dado novo com .append como a lista
#da um warning de descontinuado o .append
#o correto é criar uma df com a mudança e usar o pd.concat
#colchete parentese com as duas df por , 
df = df.append({'Autores': 'Carla Madeira', 
          'Obras': 'Vespéra', 
          'Preços': 47.90}, ignore_index = True)

C:\Users\camil\AppData\Local\Temp\ipykernel_6836\3712844330.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Autores': 'Carla Madeira',

In [22]:
#testando
df

              Autores              Obras  Preços
0          Bell Hooks    Tudo Sobre Amor    59.9
1       Carla Madeira         Tudo É Rio    49.9
2  George R.R. Martin  Guerra dos Tronos    69.9
3       Carla Madeira            Vespéra    47.9
4       Carla Madeira            Vespéra    47.9

In [ ]:
#desafio
#montar uma df e adicionar um livro novo